.Header{
    background-image: url('https://wallpapercave.com/wp/vvZQmlz.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 260px;
    width: 100%;
    color:white;
    opacity: 0.8;

}
